.navbar {
  width: 100%;
  background: #333;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #ffffff;
  transition: all .2s ease;
}

.navbar ul li a:hover {
  background: #ffffff;
  color: #333333;
}

.content {
  position: relative;
}
