.TabTitles {
  display: flex;
}

.TabTitle {
  cursor: pointer;
  padding: 0.6em;
  background: #ddd;
  border: 1px solid #aaa;
}

.TabTitle:hover {
  background: #ccc;
}

.TabTitle.Selected {
  background: #bbb;
}

.TabRight {
  align-self: center;
  margin-left: auto;
}
