.dropContainer {
    border-width: 4px;
    border-radius: 2;
    border-color: transparent;
    border-style: dashed;
    outline: none;
}

.dropContainer:not(.hasData) {
  flex: 1;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
  color: #bdbdbd;
  border-color: #eeeeee;
  transition: border 0.24s ease-in-out;
}

.dropContainer.hasData .dropInput, .dropContainer.hasData .dropText {
    display: none;
}

.dropContainer.active {
  border-color: #2196f3;
}

.dropContainer.accept {
  border-color: #00e676;
}

.dropContainer.reject {
  border-color: #ff1744;
}
